body {
    background: #cfffe8;
    font-family: 'cursive';
}

h1 {
    text-align: center;
    color:#1f1b20;
    font-size: 62px;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
} 

div {
    text-align: center;
    font-size: 25px;
}

ol {
    display: table;
    margin: 0 auto;
    padding: 10px;
    list-style-type: none;
}

li {
    text-align: center;
    font-size: 20px;
}